<div class="footerNe">
  <div class="container">
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4">
          <img routerLink="/" class="hand" src='../../../assets/images/ic-logo-footer.svg' />
        </div>
        <div class="col-sm-5">
          <div class="footer-contact-info">
            <!-- <img src='./assets/images/ic-address.svg' /> -->
            <!-- <div>
                            <h5>Address</h5>
                            <span>254 Walt Whitman Road Brooklyn, NY 11219</span>
                        </div> -->
          </div>
          <div class="footer-contact-info">
            <img src='../../../assets/images/ic-email.svg' />
            <div>
              <h5>Email</h5>
              <span><a href='mailto:contact@grit.bet'>contact@grit.bet</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <a href="https://brandfolder.com/techstars_" target="blank"> <img style="width: 250px !important;"
              src='../../../assets/footer_logo.png' /></a>
          <!-- <ul class="social-links">
                        <li><a routerLink="/login"><img src='./assets/images/ic-instagram.svg' class="hand" /></a></li>
                        <li><a routerLink="/login"><img src='./assets/images/ic-facebook-gray.svg'  class="hand" /></a></li>
                        <li><a routerLink="/login"><img src='./assets/images/ic-twitter.svg'   class="hand"/></a></li>
                        <li><a routerLink="/login"><img src='./assets/images/ic-linkedin.svg'  class="hand" /></a></li>
                    </ul> -->
                    <p style="color: #ffffff;margin-bottom: 4px;margin-left: 30px;">A Techstars portfolio company</p>
        </div>
      </div>
      <!-- <div>
                <a href="https://brandfolder.com/techstars_" target="blank"> <img style="width: 250px !important;" src='../../../assets/footer_logo.png' /></a>
            </div> -->
    </div>
    <div class="footer-copyright">
      <p>© {{year}} Grit. All rights reserved.</p>
      <div class="footer-links">
        <ul>
          <li><a routerLink="/contactus">Privacy Policy</a></li>
          <li><a routerLink="/contactus">Terms of Use</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contactus">Contact Us</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
