<!-- <div class="team py-5">
    <div class="container">
        <div class="heading-home">
            <h3 class="head-main text-center">Team</h3>
        </div>
        <div class="empowerment py-5">
            <div class="container">
                <div class="">
                    <div class="row empowerment-steps">
                        <div class="col-sm-4 hand ">
                            <img src='./assets/team/IMG_2953.jpeg' style="max-width: 100%; height: 277px;" class="img-fluid" />
                            <div class="team-info">
                                <p>Justin Sampson</p>
                            
                                <label>CEO</label>
                                <div class="">
                                <ul>
                                       <a href="https://www.linkedin.com/in/justin-sampson-7528bb6/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4 hand ">
                            <img src='./assets/team/Rodney Sampson.jpeg' style="max-width: 100%; height: 277px;" class="img-fluid" />
                            <div class="team-info">
                                <p>Rodney Sampson</p>
                                <label>CSO</label>
                                <div class="">
                                <ul>
                            <a href="https://www.linkedin.com/in/rodneysampson/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4 hand ">
                            <img src='./assets/team/Tina Page.jpg' style="max-width: 100%; height: 277px;" class="img-fluid" />
                            <div class="team-info">
                                <p>Tina Page</p>
                                <label>CLO</label>
                            <div class="">
                                <ul>
                                    <a href="https://www.linkedin.com/in/software-developer-tina-page/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
                                </ul>
                            </div>
                            </div>
                        </div>

                        <div class="col-sm-4 hand" style="margin-left: 20%;">
                            <img src='../../../assets/team/rsz_1photo00.jpg' style="max-width: 137%; height: 277px;" class="img-fluid" />
                            <div class="team-info">
                                <p>Steve Orisakwe </p>
                                <label>CMO</label>
                                <div class="">
                                <ul>
                                    <a href="https://www.linkedin.com/in/steve-orisakwe-0001/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
                                </ul>
                            </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-4 hand ">
                            <img src="../../../assets/team/2678046_th1.jpg" style="max-width: 137%; height: 277px;" class="img-fluid" />
                            <div class="team-info">
                                <p>Robert Seals</p>
                                <label>CTO</label>
                                 <div class="">
                                <ul>
                                    <a href="https://www.linkedin.com/in/robert-seals-254528127/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
                                </ul>
                            </div>
                            </div>
                        </div>

                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center">
    <h1 class="mb-5">Team</h1>
    <div class="row text-center">
      <div class="col-sm-4 mt-4">
        <div class="thumbnail">
          <img src="../../../assets/team/IMG_2953.jpeg" alt="Paris" width="400" style="height: 20% !important;">
          <p><strong>Justin Sampson</strong></p>
          <p>CTO</p>
        </div>
        <div>
            <ul>
                   <a href="https://www.linkedin.com/in/justin-sampson-7528bb6/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
            </ul>
        </div>
      </div>
      <div class="col-sm-4 mt-4">
        <div class="thumbnail">
          <img src="../../../assets/team/Rodney Sampson.jpeg" alt="New York" >
          <p><strong>Rodney Sampson</strong></p>
          <p>CSO</p>
        </div>
        <div>
            <ul>
                <a href="https://www.linkedin.com/in/rodneysampson/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
            </ul>
        </div>
      </div>
      <div class="col-sm-4 mt-4">
        <div class="thumbnail">
          <img src="../../../assets/team/Tina Page.jpg" alt="San Francisco" >
          <p><strong>Tina Page</strong></p>
          <p>CLO</p>
        </div>
        <div>
            <ul>
                <a href="https://www.linkedin.com/in/software-developer-tina-page/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
            </ul>
        </div>
      </div>
      <div class="col-sm-4 mt-4">
        <div class="thumbnail">
          <img src="../../../assets/team/123.jpeg" width="400" height="300" alt="San Francisco" >
          <p><strong>Steve Orisakwe</strong></p>
          <p>CMO</p>
        </div>
        <div>
            <ul>
                <a href="https://www.linkedin.com/in/steve-orisakwe-0001/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
            </ul>
        </div>
      </div>
      <div class="col-sm-4 mt-4">
        <div class="thumbnail">
          <img src="../../../assets/team/2678046_th1.jpg" width="400" height="300" alt="San Francisco" >
          <p><strong>Robert Seals</strong></p>
          <p>CTO</p>
        </div>
        <div>
            <ul>
                <a href="https://www.linkedin.com/in/robert-seals-254528127/" target="blank" ><img src='../../../assets/images/linked_in.png' class="hand" /></a>
            </ul>
        </div>
      </div>
    </div>
  </div>