<div class="team py-5">
    <div class="contactUs pt-5">
      <!-- <div class="empowerment py-5"> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-8 contact-info">
              <div class="container">
                <h5>Contact Us</h5>
                <div class="contact-detail">
                  <!-- <span>Phone: <a href=''> + 1 800 755 60 20</a></span> -->
                  <span>Email: <a href='mailto:contacts@company.com'> contact@grit.bet</a></span>
                  <!-- <span class="address">Address: <p> 254 Walt Whitman Road Brooklyn, NY 11219</p></span> -->
                </div>
                <!-- <div class="contact-timing">
                    <span>Opening Hours:</span>
                    <p>Mon-Fri 09:00 - 19:00,</p>
                    <p>Sat-Sun 10:00 - 14:00</p>
                </div> -->
              </div>
            </div>
            <div class="col-sm-12 col-md-4 p-0 p-md-3">
              <div class="">
                <div class="contact-form">
                  <form>
                    <div class="form-list">
                      <label for='name'>Complete Name</label>
                      <input type="text" id='name' class="form-control" name='name' required />
                    </div>
                    <div class="form-list">
                      <label for='email'>Email</label>
                      <input type="email" id='email' class="form-control" name='email' required />
                    </div>
                    <div class="form-list">
                      <label for='message'>Message</label>
                      <textarea rows='5' id='message' class="form-control form-control-textarea" name='message'
                        required></textarea>
                    </div>
                    <div class="form-list">
                      <input type="submit" class="btn btn-fill mt-4 w-100" value='Send email' />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
