  <div class="main">
    <div class="container">
        <div class="form-box">
            <div class="form-info">
                <div class="head-dec mb-2 text-center">
                    <h3>Forgot your<br> Password?</h3>
                </div>
                <form [formGroup]="forgotPassForm" novalidate (ngSubmit)="onSubmit()" role="form">
                  <div class="form-list">
                    <label>Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email" required>
                      <div *ngIf="submitted && forgotPassForm.controls['email'].errors" class="error">
                        <span class="text-danger"
                            *ngIf="submitted && forgotPassForm.controls['email'].errors.required">
                            *Password is required.</span>
                    </div>
                  </div>
          
                  <div class="form-list">
                    <label>Password</label>
                      <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password"
                        required>
                        <div *ngIf="submitted && forgotPassForm.controls['password'].errors" class="error">
                          <span class="text-danger"
                              *ngIf="submitted && forgotPassForm.controls['password'].errors.required">
                              *Password is required.</span>
                          <span class="text-danger"
                              *ngIf="submitted && forgotPassForm.controls['password'].errors.pattern">
                              *Password must be at least 6 characters, and must be alphanumeric.
                          </span>
                      </div>
                  </div>
                  
                  <div class="form-list">
                    <label>Confirm Password</label>
                      <input type="password"  class="form-control" placeholder="Confirm Password" formControlName="password_confirmation"
                        required>
                        <div *ngIf="submitted && forgotPassForm.controls['password_confirmation'].errors" class="error">
                          <span class="text-danger"
                              *ngIf="submitted && forgotPassForm.controls['password_confirmation'].errors.required">
                              *Confirm password is required.</span>
                      </div>
                      <div *ngIf="submitted">
                          <span class="text-danger"
                              *ngIf="forgotPassForm.controls['password'].valid  && forgotPassForm.errors && submitted">
                              *Password and confirm password mismatch.</span>
                      </div>
                  </div>
           <!-- [disabled]="!forgotPassForm.valid" -->
                  <div class="form-list">
                      <button type="submit" class="btn btn-primary" >Change Password</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
  </div>