<div class="listDetail bg-gray">
    <img src='./assets/images/ic-background.jpg' class="coverImg">
    <div class="container ">
        <div class="position-relative py-5">
            <div class="personInfo detail-bg">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-md-4 col-lg-5 d-flex align-items-center">
                        <div class="person-profile">
                            <img src='./assets/images/person.jpeg' />
                        </div>
                        <div class="person-name ml-3">
                            <h5>Millie Graham</h5>
                            <span>Dallas, USA</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 pt-4 pt-sm-0">
                        <div class="price">
                            $96.23
                            <div class="percentage">
                                (70%)
                            </div>
                        </div>
                        <span>invested so far</span>
                    </div>
                    <div
                        class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-sm-center pt-4 pt-md-0">
                        <div class="personDec">
                            <p>12</p>
                            <span>students</span>
                        </div>
                        <a href='' class="btn btn-fill">Donate now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row listinfo-d">
            <div class="col-sm-8 mt-4">
                <div class="detail-bg h-100">
                    <p class="detail-head">Description</p>
                    <span>
                        Some days a motivational quote can provide a quick pick-me-up for employees and even
                        management. They can be a breath of fresh air when it comes to a drab afternoon. These
                        are also a great way to jazz up a newsletter or a memo or even to simply print and
                        attach to a bulletin board. Using quotes like these are perfect ways to create a
                        motivational and successful work environment. As Mr. Rick Pitino says “The only way to
                        get people to like working hard is to motivate them. Today, people must understand why
                        they’re working hard.
                    </span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="detail-bg h-100">
                    <p class="detail-head">Recommended</p>
                    <div class="investor-list">
                        <div class="investor-profile">
                            <div class='d-flex align-items-center'><img src='./assets/images/person.jpeg' />
                                <div><span>Rena Thompson</span>
                                    <p>Lucille Austin</p>
                                </div>
                            </div>
                            <div class='investor-price color-blue'>Donate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="appComing py-5">
        <div class="container">
            <div class="mobileApp">
                <div class="row">
                    <div class="col-lg-7">
                        <h3 class="head-main">Grit Mobile App Coming Soon!</h3>
                        <span class="d-block">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Donec
                            auctor neque non dapibus pretium. Nulla in elementum est. </span>
                    </div>
                    <div class="col-lg-4">
                        <img src='../../../assets/images/ic-mobile.png' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>