<div class="listDetail bg-gray">
    <img src='./assets/images/ic-background.jpg' class="coverImg">
    <div class="container ">
        <div class="position-relative py-5">
            <div class="personInfo detail-bg">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-md-4 col-lg-5 d-flex align-items-center">
                        <div class="person-profile">
                            <img src='../../../assets/images/person.png' />
                        </div>
                        <div class="person-name ml-3">
                            <h5>{{myData?.first_name}} {{myData?.last_name}}</h5>
                            <span>{{myData?.country}}, {{myData?.state}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 pt-4 pt-sm-0">
                        <div class="price">
                            $0.00
                            <div class="percentage">
                                (0%)
                            </div>
                        </div>
                        <span>raised towards a goal of $0.00</span>
                    </div>
                    <div
                        class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-sm-center pt-4 pt-md-0">
                        <div class="personDec">
                            <p>0</p>
                            <span>investors</span>
                        </div>
                        <!-- <div class="personDec">
                            <p>15</p>
                            <span>days left</span>
                        </div> -->
                        <!-- <a routerLink="/donate-now" class="btn btn-fill">Donate now</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row listinfo-d">
            <div class="col-sm-8 mt-4">
                <div class="detail-bg h-100">
                    <p class="detail-head">Description</p>
                    <span>
                        NA
                    </span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="detail-bg h-100">
                    <p class="detail-head">Investors</p>
                    <div class="investor-list">
                        <span><strong>No record found.</strong></span>
                        <!-- *ngFor="let inves of investors" -->
                        <!-- <div class="investor-profile">
                            <div><img src='./assets/images/person.jpeg' />
                                 <span>{{inves.first_name}}, {{inves.last_name}}</span>
                                </div>
                            <div class='investor-price'>$200</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="appComing py-5">
        <div class="container">
            <div class="mobileApp">
                <div class="row">
                    <div class="col-lg-7">
                        <h3 class="head-main">Mobile App Coming Soon!</h3>
                        <span class="d-block"></span>
                    </div>
                    <div class="col-lg-4">
                        <img src='../../../assets/images/ic-mobile.png' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>