
<body>
  <div class="main">
    <div class="container">
        <div class="form-box">
            <div class="form-info">
                <div class="text-center">
                    <h3>Join the Grit Community</h3>
                </div>
                <div class="signupStep pt-3">
                    <a routerLink="/learner" class="selectSignup learner hand">
                        <img src="./assets/images/ic-learner-gray.svg" class="ico-grey" />
                        <img src="./assets/images/ic-learner-blue.svg" class="ico-green" />
                        <div>
                            <p>Student</p>
                            <label>Join Grit to get funding to reskill and start your career in tech</label>
                        </div>
                    </a>
                    <a routerLink="/invester" class="selectSignup investor hand">
                        <img src="./assets/images/ic-investor-gray.svg" class="ico-grey" />
                        <img src="./assets/images/ic-investor-blue.svg" class="ico-green" />
                        <div>
                            <p>Investor</p>
                            <label>Join Grit to invest, mentor, hire or donate in support of our community</label>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>